
@model TrainingProjectDataLayer.DataLayer.Entities.DAL.User

@{
    Layout = null;
    ViewBag.Title = "ChangePassword";
}
@*added on 12-02-2019 by priyanka gaharwal*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrainingProject</title>

    @Styles.Render("~/Content/cssPNotify")
    <!-- CSS -->
    @Styles.Render("~/Content/bootstrapCSS")
    @*@Styles.Render("~/Content/css")*@
    <!-- Font Awesome -->
    @Styles.Render("~/Content/fontsCSS")

    @Styles.Render("~/Content/LoginCSS")
</head>
<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    @*<input type="hidden" id="UserID" value="@ViewBag.UserID" />*@
                    <div class="col-sm-8 col-sm-offset-2 text">
                     
                        <h1><strong>Training Project</strong></h1>
                        <div class="description">
                            <p>
                                <h1> PARAM Creative Solutions</h1>
                            </p>
                            <p>
                                Training Project Management System
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Change Password</h3>
                                <p>Your Password Has Been Expired !!</p>
                            </div>
                            <div class="form-top-right">
                                @*<i class="fa fa-lock"></i>*@
                                <img src="~/Images/Login/KSB.jpg" />
                            </div>
                        </div>
                        <div class="form-bottom">

                            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form", @class = "login-form", id = "frmChangePassword" }))
                            {
                                @Html.HiddenFor(x => x.UserId)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">OldPassword</label>
                                    @Html.Password("OldPassword", null, new { @class = "form-username form-control", placeholder = "Old Password..." })
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">NewPassword</label>
                                    @Html.Password("NewPassword", null, new { @class = "form-username form-control", placeholder = "New Password..." })
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">ConfirmPassword</label>
                                    @Html.Password("ConfirmPassword", null, new { @class = "form-username form-control", placeholder = "Confirm Password..." })
                                </div>
                                <button type="button" id="btnChangePsw" class="btn">Change Password</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="pull-right">
            <br>
            Designed and Developed by <a href="http://www.paramcs.com"><b style="color:red">PARAM </b><i style="color:red">Creative Solutions  </i></a>
        </div>
        <div class="clearfix"></div>
    </footer>

    <!-- Javascript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJS")
    @Scripts.Render("~/bundles/LoginJS")
    @Scripts.Render("~/bundles/jqueryPNotify")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AppScripts/PNotifyMessages.js"></script>
</body>
</html>

<script>

    $("#btnChangePsw").click(function () {
        var userid = $("#UserId").val();
        var oldpassword = $("#OldPassword").val();
        var newpassword = $("#NewPassword").val();
        var confirmpassword = $("#ConfirmPassword").val();
        var valid = $('#frmChangePassword').valid();
        if (valid) {
            //var Notify = MessageBoxOK_Cancel("Do You Want To Send Password To Your Email ? ");
            //Notify.get().on('pnotify.confirm', function () {
                $.ajax(
                {
                    url: '@Url.Action("ChangePassword", "Account")',
                    type: 'POST',
                    data: { UserId: userid, OldPassword: oldpassword, NewPassword: newpassword, ConfirmPassword: confirmpassword },
                    datatype: 'Json',
                    success: function (res) {
                        if (res.Result) {
                            var notify = MessageBoxOk(res.Message);
                            notify.get().on('pnotify.confirm', function () {
                                window.location.href = '/Account/Login';
                            })
                        }
                        else {
                            InformationBoxOK_Cancel(res.Message);
                        }
                    }
                });
        }
    });
</script>

