@using TrainingProject.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrainingProject</title>

    @Styles.Render("~/Content/cssPNotify")
    <!-- CSS -->
    @Styles.Render("~/Content/bootstrapCSS")
    @*@Styles.Render("~/Content/css")*@
    <!-- Font Awesome -->
    @Styles.Render("~/Content/fontsCSS")

    @Styles.Render("~/Content/LoginCSS")
</head>
<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <input type="hidden" id="LoggedInSystem" value="@ViewBag.LoggedInSystem" />
                    <input type="hidden" id="UserId" value="@ViewBag.UserId" />
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Training Project</strong></h1>
                        <div class="description">
                            <p>
                                <h1> PARAM Creative Solutions</h1>
                            </p>
                            <p>
                                Training Project Management System
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <img src="~/Images/Login/KSB.jpg" />
                            </div>
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form", @id = "frmLogin", @class = "login-form" }))
                            {
                                @*<div class="form-group">
                                    <label class="sr-only" for="form-Department">Department</label>
                                    @Html.DropDownListFor(model => model.Department, (IEnumerable<SelectListItem>)ViewBag.Departments, htmlAttributes: new { @class = "form-control" })
                                </div>*@

                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-username form-control", placeholder = "Username..." })
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-password form-control", placeholder = "Password...",value=Model.Password})
                                </div>
                                if (ViewBag.Message != null)
                                {
                                    <strong style="color:red;" id="Message">@ViewBag.Message</strong>
                                }
                                <div class="left blue">
                                    @Html.CheckBoxFor(m => m.Remember, htmlAttributes: new { @class = "flat blue" }) Keep me signed in?
                                    <a href="/Account/ForgotPassword">Forgot Password</a>
                                </div>
                                <button type="submit" class="btn" id="btnsignIn">Sign in!</button>
                            }
                            @*<br/>*@
                            @*<div style="align-self:center">
                                @Html.ActionLink("Reel Dimensions Calculations", "ReelDimensions", "OtherCalculation", null, htmlAttributes: new { style = "color:blue;text-decoration:underline" }) 
                                @Html.ActionLink("Blister Size Calculation", "BlisterSizeCalculation", "OtherCalculation", null, htmlAttributes: new { style = "color:blue;text-decoration:underline" })
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    <footer>
        <div class="pull-right">
<br>
            Designed and Developed by <a href="http://www.paramcs.com"><b style="color:red">PARAM </b><i style="color:red">Creative Solutions  </i></a>
        </div>
        <div class="clearfix"></div>
    </footer>

    <!-- Javascript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJS")
    @Scripts.Render("~/bundles/LoginJS")
    @Scripts.Render("~/bundles/jqueryPNotify")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AppScripts/PNotifyMessages.js"></script>
</body>
</html>

   <script type="text/javascript">
       //$(document).keydown(function (e) {
       //    if (e.which === 123) {
       //        return false;
       //    }
       //});
       $(document).ready(function () {
           var LoggedInSystem = $("#LoggedInSystem").val();
           var uid = $("#UserId").val();
           if (LoggedInSystem.length > 0) {
               var notify = InformationBoxOK_Cancel("You Are Already Logged In On Different Machine, Do You Want Close The Active Session?");
               notify.get().on('pnotify.confirm', function () {
                   $.ajax(
                   {
                       url: '/Account/ContinueLogin',
                       type: 'POST',
                       data: $('#frmLogin').serialize(),//{ id: uid },//
                       datatype: 'Json',
                       success: function (res) {
                           if (res.Result) {
                               window.location.href = res.RedirectUrl;
                           }
                           else {
                               InformationBoxOK_Cancel(res.Message);
                           }
                       }
                   });
               });

           }
       });

           @*$("#btnsignIn").click(function () {
               var valid = $('#frmLogin').valid();
               if (valid) {
                   $(this).attr('disabled', 'disabled');
                   $.ajax(
                   {
                       url: '@Url.Action("Login", "Account")',
                       type: 'POST',
                       data: $('#frmLogin').serialize(),
                       datatype: 'Json',
                       success: function (res) {
                           if (res.Result) {
                               var notify = MessageBoxOk(res.Message);
                               notify.get().on('pnotify.confirm', function () {
                                   window.location.href = '/Account/Login';
                               })
                           }
                           else {
                               InformationBoxOK_Cancel(res.Message);
                           }
                       }
                   });

               }
           });*@
</script>
