@model IEnumerable<TrainingProjectDataLayer.DataLayer.Entities.DAL.User>
@{
    ViewBag.Title = "PlantAdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- #region HTML CODE -->

<p><br /><br /><br /></p>
<div class="">
    <div class="panel panel-info" id="pSo">
        <div class="panel-heading">
            <span id="SpanExpander" class="pull-left clickable">
                <i id="ILabel" class="glyphicon glyphicon-chevron-up" style="font-size:large;"></i>
            </span><b class="collapse-link"> Plants Admin </b>
        </div>
        <div class="panel-body" style="display: block;">
            <!-- #region CREATE NEW USER BUTTON -->

            <div class="col-sm-3 form-group has-feedback" style="width:244px;">
                <button type="button" class="form-control has-feedback-left btnCreate" style="color:#31708f;border-radius:4px;border-color:#31708f;width:290px;" id="inputSuccess2"> Create New Plant Admin</button>
                <span class="fa fa-user form-control-feedback left" style="color:#31708f;" aria-hidden="true"></span>
            </div>

            <!-- #endregion -->

            <div class="col-sm-12">
                <div style="width: 100%; padding-left: -10px;">
                    <div class="table-responsive">
                        <table class="SalesOrderDatatable table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                                    <th>@Html.DisplayNameFor(model => model.UserStatus)</th>
                                    <th>@Html.DisplayNameFor(model => model.Department.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.EmailId)</th>
                                    <th>@Html.DisplayNameFor(model => model.Init)</th>
                                    <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                    <th>@Html.DisplayNameFor(model => model.LastModifiedOn)</th>
                                    <th>@Html.DisplayNameFor(model => model.UserRoles)</th>
                                    <th>@Html.DisplayNameFor(model => model.Password)</th>
                                    <th class="all">Options</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                @Html.HiddenFor(modelItem => item.UserId)
                                @*@Html.HiddenFor(modelItem => item.UserRoles)*@
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td><span class="btn btn-success btn-xs">@Html.DisplayFor(modelItem => item.UserStatu.Status)</span></td>
                                    <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmailId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Init)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastModifiedOn)</td>
                                    <td> @string.Join(",", item.UserRoles.Select(r => r.Role.RoleName).ToList())</td>
                                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                    <td class="all">
                                        <div>
                                            <a UserId='@item.UserId' class="btn btn-xs optionButton btnEdit"><i class="fa fa-pencil blue" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></a>
                                            <a UserId='@item.UserId' class="btn btn-xs optionButton btnDetails"><i class="fa fa-file-text-o green" data-toggle="tooltip" title="" data-placement="top" data-original-title="Details"></i></a>
                                            <a onclick="DeletePlantAdmin(@item.UserId)" class="btn btn-xs optionButton"><i class="fa fa-trash red" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div><br /></div>
<!-- #endregion -->
<!-- #region MODAL FOR CREATE NEW USER -->
<div class="modal fade " tabindex="-1" id="PlantAdminCreateModal" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-mg">
        <div class="modal-content" id="PlantAdmin">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModal">Create New Plant Admin</h4>
            </div>
            <div class="modal-body" id="PlantAdminCreateModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Ok" id="btnOkCreate">OK</button>
                <button type="button" class="btn btn-default" id=close data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region MODAL FOR EDIT PlantAdmin -->
<div class="modal fade " tabindex="-1" id="PlantAdminEditModal" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-mg">
        <div class="modal-content" id="PlantAdmin">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModal"> Edit Plant Admin </h4>
            </div>
            <div class="modal-body" id="PlantAdminEditModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Ok" id="btnOkEdit">OK</button>
                <button type="button" class="btn btn-default" id=close data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region MODAL FOR PlantAdmin DETAILS -->
<div class="modal fade " tabindex="-1" id="PlantAdminDetailsModal" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-mg">
        <div class="modal-content" id="PlantAdmin">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModal">Plant Admin Details</h4>
            </div>
            <div class="modal-body" id="PlantAdminDetailsModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id=close data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Script Create Modal -->
<script type="text/javascript">
    $(".btnCreate").click(function () {
        var options =
        {
            "backdrop": "static",
            keyboard: true
        };
        $.ajax(
               {
                   url: '/Plants/CreatePlantAdmin',
                   type: "GET",
                   contentType: "application/json; charset=utf-8",
                   datatype: "html",
                   cache: false,
                   success: function (data) {
                       $('#PlantAdminCreateModalContent').html(data);
                       $('#PlantAdminCreateModal').modal(options);
                       $('#PlantAdminCreateModal').modal('show');
                   }
               });
    });

    $("#btnOkCreate").click(function () {

        var valid = $('#frmCreatePlantAdmin').valid();
        if (valid) {
            submit();
        }
    });
    function submit() {

        var Notify = MessageBoxOK_Cancel("Do you Want To Create New Plant Admin ?");
        var modeldata = $('#frmCreatePlantAdmin').serialize();
        Notify.get().on('pnotify.confirm', function () {
            $('.modal').modal('hide');
            $.ajax(
            {
                url: '/Plants/CreatePlantAdmin',
                type: 'POST',
                data: modeldata,
                datatype: 'Json',
                success: function (res) {
                    if (res.Result) {
                        var notify = MessageBoxOk(res.Message);
                        notify.get().on('pnotify.confirm', function () {
                            window.location.href = '/Plants/PlantAdminIndex';
                        })
                    }
                    else {
                        var notify = MessageBoxError(res.Message);
                        notify.get().on('pnotify.confirm', function () {
                            window.history.back();
                        })
                    }
                }
            });
        });
    }
</script>
<!-- #endregion -->
<!-- #region Script Edit Modal -->
<script type="text/javascript">

    $(".btnEdit").click(function () {
        var options =
        {
            "backdrop": "static",
            keyboard: true
        };
        var _UserID = $(this).attr('UserId');
        $.ajax(
               {
                   url: '/Plants/EditPlantAdmin',
                   type: "GET",
                   contentType: "application/json; charset=utf-8",
                   data: { id: _UserID },
                   datatype: "html",
                   cache: false,
                   success: function (data) {
                       $('#PlantAdminEditModalContent').html(data);
                       $('#PlantAdminEditModal').modal(options);
                       $('#PlantAdminEditModal').modal('show');
                   }
               });
    });

    $("#btnOkEdit").click(function () {

        var valid = $('#frmEditPlantAdmin').valid();
        if (valid) {
                submitEdited();
            }
        });

    function submitEdited() {
        var Notify = MessageBoxOK_Cancel("Do You Want To Edit Plant Admin ?");
        var modeldata = $('#frmEditPlantAdmin').serialize();
        Notify.get().on('pnotify.confirm', function () {
            $('.modal').modal('hide');
            $.ajax(
            {
                url: '/Plants/EditPlantAdmin',
                type: 'POST',
                data: modeldata,
                datatype: 'Json',
                success: function (res) {
                    if (res.Result) {
                        var notify = MessageBoxOk(res.Message);
                        notify.get().on('pnotify.confirm', function () {
                            window.location.href = '/Plants/PlantAdminIndex';
                        })
                    }
                    else {
                        var notify = MessageBoxError(res.Message);
                        notify.get().on('pnotify.confirm', function () {
                            window.history.back();
                        })
                    }
                }

            });
        });
    }
</script>
<!-- #endregion -->
<!-- #region Script Details Modal -->
<script type="text/javascript">
    $(".btnDetails").click(function () {
        var options =
        {
            "backdrop": "static",
            keyboard: true
        };
        var _UserID = $(this).attr('UserId');
        $.ajax(
               {
                   url: '/Plants/PlantAdminDetail',
                   type: "GET",
                   contentType: "application/json; charset=utf-8",
                   data: { id: _UserID },
                   datatype: "html",
                   cache: false,
                   success: function (data) {
                       $('#PlantAdminDetailsModalContent').html(data);
                       $('#PlantAdminDetailsModal').modal(options);
                       $('#PlantAdminDetailsModal').modal('show');
                   }
               });
    });
</script>
<!-- #endregion -->
<!-- #region Script Delete PlantAdmin -->
<script type="text/javascript">
    function DeletePlantAdmin(_UserId) {

        new PNotify({
            title: 'Confirmation Needed',
            text: 'Do You Want To Delete Plant Admin ?',
            icon: 'glyphicon glyphicon-question-sign',
            hide: false,
            confirm: {
                confirm: true
            },
            buttons: {
                closer: false,
                sticker: false
            },
            history: {
                history: false
            },
            addclass: 'stack-modal',
            stack: { 'dir1': 'down', 'dir2': 'right', 'modal': true }
        }).get().on('pnotify.confirm', function () {

            $.ajax({
                url: '/Plants/DeletePlantAdmin',
                type: 'POST',
                data: { id: _UserId },
                success: function (data) {
                    if (data.success == true) {
                        new PNotify({
                            title: 'Success!',
                            text: data.result,
                            type: 'success',
                            icon: 'glyphicon glyphicon-info-sign',
                            addclass: 'stack-modal',
                            stack: { 'dir1': 'down', 'dir2': 'right', 'modal': true },
                            hide: false,
                            confirm: {
                                confirm: true,
                                buttons: [{
                                    text: 'Ok',
                                    addClass: 'btn-primary',
                                    click: function (notice) {

                                        window.location.href = '/Plants/PlantAdminIndex';
                                        notice.remove();
                                    }
                                },
                                null]
                            },
                            buttons: {
                                closer: false,
                                sticker: false
                            },
                            history: {
                                history: false
                            }
                        });
                    }
                    else {
                        new PNotify({
                            title: 'Oh No!',
                            text: 'Not connected to server',
                            type: 'error',
                            addclass: "stack-modal",
                            stack: { "dir1": "down", "dir2": "left", 'modal': true, "overlay_close": true },
                        });
                    }
                },
                error: function (data) {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Not connected to server',
                        type: 'error',
                        addclass: "stack-modal",
                        stack: { "dir1": "down", "dir2": "left", 'modal': true, "overlay_close": true },
                    });
                }
            });
        }).on('pnotify.cancel', function () {
        });
    }
</script>
<!-- #endregion -->
