@model TrainingProjectDataLayer.DataLayer.Entities.DAL.Department

@{
    Layout = null;
}
<table class="table table-striped table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsHead)</th>
        <td>@Html.DisplayFor(model => model.IsHead)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
        <td>@Html.DisplayFor(model => model.CreatedOn)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LastModifiedOn)</th>
        <td>@Html.DisplayFor(model => model.LastModifiedOn)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LastModifiedBy)</th>
        <td>@Html.DisplayFor(model => model.LastModifiedBy)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Plant.PlantCode)</th>
        <td>@Html.DisplayFor(model => model.Plant.PlantCode)</td>
    </tr>
</table>