@model TrainingProject.Models.MailManager.MailData
@using TrainingProject.Security
@{ 
    string password = CustomEncryption.Decrypt(Model.User.Password);
}

<style>
    .TableStyle {
            width: 30%;
            background-color: #fff;
        }

            .TableStyle tr:nth-child(even) {
                background-color: #eee;
            }

            .TableStyle tr:nth-child(odd) {
                background-color: #fff;
            }

            .TableStyle th {
                color: black;
                background-color: #D3D3D3;
            }

        table, th, td {
            border: 1px solid black;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
</style>


<p><span>  </span> Welcome @Html.DisplayFor(model => model.UserName)</p>
<br />
<p>Following is your UserName and Password :-</p>
<br/>
       
<br/>
<table class="TableStyle">
    <tr>
        <td>@Html.Label("User Name")</td>         
        <td>@Html.DisplayFor(model => model.User.UserName)</td>
    </tr>
    <tr>
        <td>@Html.Label("Password")</td>         
        <td>@Html.DisplayFor(model => password)</td>
    <tr>
</table>
<br />
   
@Html.Partial("/Views/Email/MailNote.cshtml", Model)

<br/>

@Html.Partial("/Views/Email/MailSignature.cshtml", Model)

